/vendor/
/.git/
/Test_Files_Spama/
/.idea/
/config/
/database/
/filemanager/
/storage/
/tinymce/
/tinymce/
node_modules/
npm-debug.log
yarn-error.log
/storage
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.htaccess
composer.json
composer.lock
error_log
index.php
package.json
phpunit.xml
readme.md
robots.txt
root.json
server.php
webpack.mix.js
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
*.json
spama.zip
.idea/
